.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0 0 0;
    overflow-x: hidden;
}

.Home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: url('https://i.redd.it/10zutid8u6651.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.Home-subhero {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    width: 100%;
    height: 80vh;
}

.Home-subsubhero1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: black;
    border: 1px solid white;
}

.Home-subsubhero2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: black;
    border: 1px solid white;
}

.Home-subsubhero3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: black;
    border: 1px solid white;
}

.Home-subsubhero4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: black;
    border: 1px solid white;
}

.Home-subsubhero5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: black;
    border: 1px solid white;
}